# public/.htaccess

RewriteEngine On

# Si le fichier ou dossier existe, laisse le serveur le gérer
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


# Rediriger vers index.php
RewriteRule ^ index.php [QSA,L]

# Ajouter des en-têtes de sécurité pour renforcer la sécurité
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

AddType application/pdf .pdf

